// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/aqua';

// Override variables here

@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

//custom colors
$cream: #E2D8D2 !default;
$latte: #CE9B58 !default;
$espresso: #583E36 !default;

Page{
    background: linear-gradient(to bottom left, $latte, $espresso);
}


.appName{
    vertical-align: center;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 30;
    // margin-top:10;
    margin-bottom:5;
    color: $cream;
}

.appName_Login{
    vertical-align: center;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 80;
    padding-top:60;
    padding-bottom:30;
    color: $cream;
}

.card{
    border-radius:14; 
    margin:18; 
    margin-top:0;
    justify-content: center;
    background-color: #E2D8D2;
    color: #583E36;
    padding: 20;
}


