<template>
  <Page class ="container">
    <!-- <ActionBar title="Welcome to NativeScript-Vue!"/> -->
    <FlexboxLayout flexDirection="column" height="100%">
        <Label class="appName" :text="app"/>
        <DockLayout stretchLastChild="false">
            <Image class="profilePicture" dock="left" src="~/assets/images/Profile.jpeg" stretch="aspectFill" />
            <Label class="profileName" :text="profileName" dock="right"> </Label>
        </DockLayout>
       <ListView id="postList" for="post in postData" itemTemplateSelector="$index" @itemTap="onItemTap" height="78%" separatorColor="transparent">
        <v-template>
          <!-- Shows the list item label in the default color and style. -->
          <Post style="margin-bottom:30;" :UID="postData[$index]"/>
        </v-template>  
      </ListView>
    </FlexboxLayout>
  </Page>
</template>

<script>
  import Post from "./Post"
  const firebase = require("nativescript-plugin-firebase");
  var firebaseApp =  require('nativescript-plugin-firebase/app');

  //TEST UID: JWtI7CKHppRgqE3OQsSWZb38BjJ2
  export default {
    components:{
      Post
    },
    data() {
      return {
        app: 'Coffé',
        profileName: '',
        postData: []
      }
    },
    mounted(){
       firebase.getCurrentUser()
      .then(user => {
        console.log("User uid:  " + user.uid);
        const userDoc = firebaseApp.firestore().collection("Users").doc(user.uid);
        userDoc.get().then(doc => {
          if (doc.exists) {
            //get the username from firestore, convert it to a string and remove end quotes.
            var JSONUsername = JSON.stringify(doc.data().userName);
            console.log("RECIEVED USERNAME:" + JSONUsername);
            JSONUsername = this.stripEndQuotes(JSONUsername);
            this.profileName =  JSONUsername;
            this.loadPosts();
          } else {
            console.log("No such document!");
          }
        });
      })
      .catch(error => console.log("Trouble in paradise: " + error));
    },
    methods:{
      onItemTap(event){
        console.log('Did nothing for some reason');
      },
      stripEndQuotes(s){
        var t=s.length;
        if (s.charAt(0)=='"') s=s.substring(1,t--);
        if (s.charAt(--t)=='"') s=s.substring(0,t);
        return s;
      },
      //loads all the posts in the database and passes the UID for each post
      loadPosts(){
        const postCollection = firebaseApp.firestore().collection("Posts");

        postCollection.get().then(querySnapshot => {
          querySnapshot.forEach(doc => {
            //console.log(`${doc.id} => ${JSON.stringify(doc)}`);
            this.postData.push(doc.id);
          });
        });
        var listView = this.page.getViewById("postList");
        listView.refresh();
      }
    }
  }
</script>

<style scoped>
  DockLayout{
    margin-bottom:10;
    margin-left:15;
    margin-right:15;
  }
  .profileName{
    justify-self: right;
  }
  listView{
    background-color: transparent;
  }
  .profilePicture{
    border-radius: 50%;
    width:50;
    height:50;
  }
</style>
