<template>
  <Page class ="container">
    <!-- <ActionBar title="Welcome to NativeScript-Vue!"/> -->
    <FlexboxLayout flexDirection="column" height="100%">
        <Label class="appName_Login" :text="msg"/>

      <StackLayout class = "form">
        <Label :text="loginError" class="loginError"> </Label>
        <TextField class="input" v-model="userInfo.userEmail" hint="Email" keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
        <TextField class="input" v-model="userInfo.userPassword" hint="Password" keyboardType="email" autocorrect="false" autocapitalizationType="none" secure="true"></TextField>
        <Button text="Log In" class="loginButton" @tap="loginUser"></Button>
        <Button text="SignUp" class="loginButton" @tap="NavigateToSignUp"></Button>

      </StackLayout>
    </FlexboxLayout>
  </Page>
</template>

<script>
  import * as ApplicationSettings from "application-settings";
  const firebase = require("nativescript-plugin-firebase");
  import home from "./home"
  import signUp from "./SignUp"

export default {
    components:{
    },
    data() {
      return {
        msg: 'Coffe',
        loginError: ' ',
        userInfo: {
          userEmail: 'c@c.com',
          userPassword:'123456',
          userName:''
        }

      }
    },
    mounted(){
      this.$store.subscribe((mutations, state) => {
          ApplicationSettings.setString("store", JSON.stringify(state));
          this.userInfo.userEmail = state.userInfo.userEmail;
      });
    },
    methods:{
      loginUser(){
        firebase.login({
          type: firebase.LoginType.PASSWORD,
          passwordOptions: {
            email: this.userInfo.userEmail,
            password: this.userInfo.userPassword
        }
      })
      .then(result => {
        JSON.stringify(result)
        this.save(result);
        this.$navigateTo(home, {clearHistory: true});
      })
      .catch(error => this.loginError ="Incorrect Email / Password");
    },

      save(user) {
        this.$store.commit("saveUserInfo", this.userInfo);
    },

      load() {
        this.$store.commit("load");
      },
      
       NavigateToSignUp(){
        this.$navigateTo(signUp, {clearHistory: true, transition: {name: 'flip'}});
      }
    
    
    },
  }
</script>

<style scoped>
.container {
  align-items: center;
  flex-direction: column;
}
.form {
  vertical-align: center;
  margin-left: 30;
  margin-right: 30;
}
  .input{
    border-radius:14; 
    margin-bottom:20;
    text-align: center;
    background-color: #E2D8D2;
  }
  .loginButton{
    color: #E2D8D2;
    font-size: 20;
    padding-top: 10;
    padding-bottom:10;
    border-radius:14; 
    margin-bottom:20;
    text-align: center;
    background-color: #CE9B58;
  }
  .loginError{
    margin: 10;
    color:red;
    text-align: center;
    font-size:20;
  }
</style>
