<template>
  <AbsoluteLayout>
    <Image class="profilePicture" left="10" top="10" src="~/assets/images/Profile.jpeg" stretch="aspectFill" />
    <label left="70" top ="10" :text="String(this.userName)"/>
    <Image class="picture" top="70" src="~/assets/images/coffee.jpg" stretch="aspectFill" />
    <label left= "10" top ="290" class="title" :text ="this.titleText"/>
    <label left="35" top="320" class="location" :text="this.locationText"/>
  </AbsoluteLayout>
</template>

<script>
import * as ApplicationSettings from "application-settings";
const firebase = require("nativescript-plugin-firebase");
var firebaseApp =  require('nativescript-plugin-firebase/app');

  export default {
    props:{
      UID:''
    },
    data() {
      return {
        titleText: ' ',
        locationText: ' ',
        userName: '',
      }
    },
    mounted(){
        const userDoc = firebaseApp.firestore().collection("Posts").doc(this.UID);
        userDoc.get().then(doc => {
          if (doc.exists) {
            //get the post data from firestore, convert it to a string and remove end quotes.
            this.userName = this.stripEndQuotes(JSON.stringify(doc.data().userName));
            this.locationText = this.stripEndQuotes(JSON.stringify(doc.data().Location));
            this.titleText = this.stripEndQuotes(JSON.stringify(doc.data().Title));
          } else {
            console.log("No such document!");
          }
        });
    },
    methods:{
      stripEndQuotes(s){
        var t=s.length;
        if (s.charAt(0)=='"') s=s.substring(1,t--);
        if (s.charAt(--t)=='"') s=s.substring(0,t);
        return s;
      }
    }
  }
</script>

<style scoped>

  AbsoluteLayout{
    background-color: #E2D8D2;
    border-radius: 14;
    margin-left: 10;
    margin-right: 10;
  }

  label{
    color:#583E36;
  }

  .title{
    font-size: 25;
  }
  
   .location{
    font-size: 12;
  }

  .profilePicture{
    border-radius: 50%;
    width:50;
    height:50;
  }

  .picture{
    margin: 0;
    width:100%;
    height:50%;
  }
   
</style>
