<template>
  <Page class ="container">
    <!-- <ActionBar title="Welcome to NativeScript-Vue!"/> -->
    <FlexboxLayout flexDirection="column" height="100%">
        <Label class="appName" :text="msg"/>

      <StackLayout class = "form">
        <Label :text="loginError" class="loginError"> </Label>
        <TextField class="input" v-model="userInfo.userEmail" hint="Email" keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
        <TextField class="input" v-model="userInfo.userName" hint="User Name" autocorrect="false" autocapitalizationType="none"></TextField>
        <TextField class="input" v-model="userInfo.userPassword" hint="Password" keyboardType="email" autocorrect="false" autocapitalizationType="none" secure="true"></TextField>
        <Button text="Create Account" class="loginButton" @tap="createAccount"></Button>

      </StackLayout>
    </FlexboxLayout>
  </Page>
</template>

<script>
  import * as ApplicationSettings from "application-settings";
  const firebase = require("nativescript-plugin-firebase");
  var firebaseApp =  require('nativescript-plugin-firebase/app');
  var firebaseAppAuth = firebaseApp.auth();
  import home from "./home"

export default {
    data() {
      return {
        msg: 'Coffe',
        loginError: ' ',
        userInfo: {
          userEmail: '',
          userPassword:'',
          userName:''
        }

      }
    },
    methods:{
      //create a new account with entered username and email
      createAccount(){
        firebaseAppAuth.createUserWithEmailAndPassword(this.userInfo.userEmail, this.userInfo.userPassword)
        .then(() =>{
          console.log("signed up successfully");
          //after account is created, get the user and set their displayname
          this.loginUser();
        })
        .catch(function(error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          alert("error!", errorMessage);
          // ...
        });
      }, //end of create account
    SetUserInfo(){
      firebase.getCurrentUser()
      .then(user => {
        console.log("User uid: " + user.uid);
        const userCollection = firebaseApp.firestore().collection("Users");

        userCollection.doc(user.uid).set({
          userName: this.userInfo.userName
        });
      })
      .catch(error => console.log("Trouble in paradise: " + error));
    },

    loginUser(){             
       firebase.login({
          type: firebase.LoginType.PASSWORD,
          passwordOptions: {
            email: this.userInfo.userEmail,
            password: this.userInfo.userPassword
        }
      })
      .then(result => {
        this.SetUserInfo();
        this.GoHome();
      })
      .catch(error => alert("error!", error));
    },
    GoHome(){
      console.log("going home");
      this.$navigateTo(home, {clearHistory: true});
    },
  } //end of methods
}
</script>

<style scoped>
.container {
  align-items: center;
  flex-direction: column;
}
.form {
  vertical-align: center;
  margin-left: 30;
  margin-right: 30;
}
  .input{
    border-radius:14; 
    margin-bottom:20;
    text-align: center;
    background-color: #E2D8D2;
  }
  .loginButton{
    color: #E2D8D2;
    font-size: 20;
    padding-top: 10;
    padding-bottom:10;
    border-radius:14; 
    margin-bottom:20;
    text-align: center;
    background-color: #CE9B58;
  }
  .loginError{
    margin: 10;
    color:red;
    text-align: center;
    font-size:20;
  }
</style>
